<div class="h-screen flex flex-col justify-center items-center bg-gradient-to-r from-blue-500 to-indigo-600 text-white">
    <h1 class="text-6xl font-extrabold mb-6 animate-fade-in">
        Welcome to <span class="text-yellow-300">PennyTask</span>
    </h1>

<div class="flex space-x-6">
    <button (click)="navigateToLogin()"
        class="px-6 py-3 bg-white text-blue-600 font-semibold rounded-lg shadow-md hover:bg-gray-200 transition">
        Login
    </button>
    <button (click)="navigateToRegister()"
        class="px-6 py-3 bg-yellow-400 text-gray-800 font-semibold rounded-lg shadow-md hover:bg-yellow-500 transition">
        Get Started
    </button>
</div>

    <div class="absolute bottom-6 text-sm opacity-80">
        <p>&copy; 2025 Developed By Maram </p>
    </div>
</div>